RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} ^\/photos_\/(.+)\/([^/]+)\/([^/]+)\.jpg$
RewriteRule . /photos/%1/%2.jpg [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
